body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.shell {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    overflow-y: auto;
    font-size: 1.2em;
}
.command-box {
    width: 25%;
    padding: 20px;
    background-color: #222;
    overflow-y: auto;
}
.command-box h3 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
#output {
    flex-grow: 1;
    white-space: pre-wrap;
    margin-bottom: 20px;
}
#input {
    padding: 15px;
    background-color: black;
    border: 2px solid white;
    color: white;
    width: 100%;
    font-size: 1.5em;
    outline: none;
}
.command-box ul li {
    margin: 10px 0;
}
.usable-command {
    color: white;
}
.unusable-command {
    color: #555;
    opacity: 0.5;
}